/* Estilo general */
body {
    background-color: #f4f6f9;
}

/* Espaciado para la barra de navegación */
.navbar {
    margin-bottom: 20px;
}

/* Estilo para las tarjetas */
.card {
    margin-top: 20px;
    border-radius: 10px;
}

/* Centra el contenido de la página principal */
.text-center {
    margin-top: 30px;
}
