@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Sistema Inteligente de Análisis de Datos</h1>
    
    <p class="lead">
        Cargue uno o varios archivos CSV o Excel para obtener un análisis exploratorio automático.
    </p>
</div>

<hr/>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Estadísticas</h4>
                <p>
                    Obtenga estadísticas descriptivas.
                </p>
                <div class="text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/2278/2278925.png" alt="Estadísticas" style="width:250px; height:250px;"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Gráficos</h4>
                <p>
                    Visualice  gráficos  circulares, histogramas, boxplots y mapas de calor.
                </p>
                <div class="text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/3501/3501964.png" alt="Estadísticas" style="width:250px; height:250px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Clustering</h4>
                <p>
                    Identifique agrupaciones mediante K-Means.
                </p>
                <div class="text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/16990/16990499.png" alt="Estadísticas" style="width:250px; height:250px;"/>
                </div>
            </div>
        </div>
    </div>
</div>